*,
::after,
::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type="number"]:invalid {
  -webkit-box-shadow: initial;
  box-shadow: initial;
}

img {
  vertical-align: top;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

ol,
ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

html {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  margin: 0;
  width: 100%;
  height: 100%;
  background: #fff;
}

body._preloader {
  overflow: hidden;
}

body._preloader .preloader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Rubik', sans-serif;
  color: #000;
}

.main {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-pack: stretch;
  -ms-flex-pack: stretch;
  justify-content: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
}

.container {
  max-width: 1280px;
  padding: 0 20px;
  width: 100%;
  margin: 0 auto;
}

.scroll-lock {
  overflow: hidden;
}

.social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #23272A;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.social-link:hover {
  color: #fb7f03;
  -webkit-filter: drop-shadow(0 0 1px #000);
  filter: drop-shadow(0 0 1px #000);
}

.social-link svg {
  fill: currentColor;
}

.h1 {
  font-weight: bold;
  font-size: 68px;
}

.btn-play {
  width: 136px;
  height: 136px;
  position: relative;
  color: #fff;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.btn-play::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: url(../images/btn-play.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  -webkit-animation: anim-play-rotate 7s linear infinite;
  animation: anim-play-rotate 7s linear infinite;
}

.btn-play svg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin-left: 6px;
  fill: currentColor;
  pointer-events: none;
}

.btn-play:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-filter: drop-shadow(0 0px 10px #FB7F03);
  filter: drop-shadow(0 0px 10px #FB7F03);
}

@-webkit-keyframes anim-play-rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes anim-play-rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.nft-item {
  display: block;
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
}

.nft-item__inner {
  display: block;
  width: 100%;
  padding-top: 100%;
  position: relative;
}

.nft-item__img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  image-rendering: -webkit-optimize-contrast;
}

.preloader {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: url(../images/preloader-bg.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

.preloader__logo {
  max-width: 100%;
  -webkit-animation: animate-preloader 2s ease-in-out infinite;
  animation: animate-preloader 2s ease-in-out infinite;
}

@-webkit-keyframes animate-preloader {
  0%, 100% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }

  50% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
  }
}

@keyframes animate-preloader {
  0%, 100% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }

  50% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
  }
}

.MuiButtonBase-root.MuiButton-root,
.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  vertical-align: top;
  font-family: inherit;
  font-size: 20px;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  line-height: normal;
  letter-spacing: normal;
  height: 50px;
  background: #FF8126;
  border-radius: 55px;
  border: none;
  padding: 0 20px;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  cursor: pointer;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
  color: #000000;
  -webkit-box-shadow: none;
  box-shadow: none;
  position: relative;
}

.MuiButtonBase-root.MuiButton-root:active,
.MuiButtonBase-root.MuiButton-root:focus,
.btn:active,
.btn:focus {
  outline: none;
}

.MuiButtonBase-root.MuiButton-root:hover,
.btn:hover {
  -webkit-box-shadow: 0 0 10px #FB7F03;
  box-shadow: 0 0 10px #FB7F03;
  background: #FF8126;
}

.MuiButtonBase-root.MuiButton-root:disabled,
.btn:disabled {
  opacity: 0.5;
  pointer-events: none;
}

.MuiButtonBase-root.MuiButton-root_secondary,
.btn_secondary {
  background: #23272A;
  color: #FB7F03;
}

.MuiButtonBase-root.MuiButton-root_secondary:hover,
.btn_secondary:hover {
  background: #23272A;
}

.MuiButtonBase-root.MuiButton-root {
  background: #23272A;
  color: #FB7F03;
  width: 195px;
  font-size: 16px;
  position: relative;
  z-index: 11;
}

.MuiButtonBase-root.MuiButton-root:hover {
  background: #23272A;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.header__inner {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 11;
  width: 169px;
  height: 100%;
}

.header__logo-img {
  width: 100%;
  position: absolute;
  top: 55%;
  left: 40%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.header__header-menu {
  margin: 0 40px 0 auto;
}

.header_orange .header-menu__nav-link:hover {
  color: #D8E1FF;
}

.header_orange .header-menu .social-link:hover {
  color: #D8E1FF;
}

.header__btn-menu {
  margin-right: 14px;
  display: none;
}

.header__connect-btn {
  width: 195px;
  font-size: 16px;
  position: relative;
  z-index: 11;
}

.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-menu__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-menu__nav {
  margin-right: 44px;
}

.header-menu__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-menu__nav-item {
  margin-right: 52px;
}

.header-menu__nav-item:last-child {
  margin-right: 0;
}

.header-menu__nav-link {
  font-size: 16px;
  color: #000000;
}

.header-menu__nav-link:hover {
  color: #FB7F03;
}

.header-menu__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-menu__social-item {
  margin-right: 20px;
}

.header-menu__social-item:last-child {
  margin-right: 0;
}

.btn-menu {
  width: 23px;
  height: 17px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #000000;
  z-index: 11;
}

.btn-menu span {
  position: absolute;
  width: 100%;
  height: 3px;
  background: currentColor;
  -webkit-transition: .25s;
  -o-transition: .25s;
  transition: .25s;
  left: 0px;
  border-radius: 5px;
  pointer-events: none;
}

.btn-menu span:nth-child(1) {
  top: 0px;
}

.btn-menu span:nth-child(2) {
  top: 7px;
}

.btn-menu span:nth-child(3) {
  bottom: 0px;
}

.btn-menu._active span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 7px;
}

.btn-menu._active span:nth-child(2) {
  left: -100%;
  opacity: 0;
}

.btn-menu._active span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 7px;
  bottom: auto;
}

.footer {
  background: #D8E1FF;
}

.footer_orange {
  background: #FFCE9F;
}

.footer__logo {
  width: 169px;
  height: 80px;
  position: relative;
}

.footer__logo-img {
  position: absolute;
  top: 50%;
  left: 40%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
}

.footer__inner {
  padding: 20px 0;
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer__nav-item {
  margin-right: 52px;
}

.footer__nav-item:last-child {
  margin-right: 0;
}

.footer__nav-link {
  font-size: 16px;
  color: #000000;
}

.footer__nav-link:hover {
  color: #FB7F03;
}

.footer__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer__social-item {
  margin-right: 20px;
}

.footer__social-item:last-child {
  margin-right: 0;
}

.footer__copy {
  font-size: 12px;
  margin-top: 10px;
}

.section-hero {
  background: url(../images/hero-bg.svg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.section-hero__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 680px;
  padding: 160px 0 80px;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.section-hero__left {
  max-width: 500px;
  width: 100%;
}

.section-hero__title {
  margin-bottom: 10px;
}

.section-hero__powered {
  font-size: 18px;
}

.section-hero__solana {
  display: block;
  margin-top: 3px;
}

.section-hero__right {
  max-width: 330px;
  width: 100%;
}

.section-hero__nft-item {
  margin-bottom: 40px;
  width: 100%;
}

.section-hero__mint-btn {
  max-width: 100%;
  width: 100%;
}

.section-hero__middle {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin: 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.section-hero__middle-inner {
  position: relative;
}

.section-hero__panda {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: none;
  width: auto;
  height: 522px;
  pointer-events: none;
}

.section-who {
  background: url(../images/who-we-are-bg.svg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% auto;
}

.section-who__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 610px;
}

.section-who__left {
  max-width: 550px;
  width: 100%;
  margin-right: 70px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.section-who__btn-play {
  position: absolute;
  bottom: 75px;
  right: 0;
}

.section-who__right {
  padding: 130px 0;
  max-width: 470px;
}

.section-who__text {
  font-size: 18px;
}

.section-who__text p + p {
  margin-top: 1.2em;
}

.section-who__animation {
  position: relative;
}

.section-who__img {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: transparent;
  height: 574px;
  width: auto;
  max-width: none;
  pointer-events: none;
}

.section-roadmap {
  background-image: url(../images/roadmap-bg.webp), url(../images/roadmap-cloud.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: bottom center, top center;
  background-size: cover, 100% auto;
}

.section-roadmap__inner {
  min-height: 920px;
  padding: 60px 0;
}

.section-roadmap__title {
  margin-bottom: 62px;
}

.roadmap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  counter-reset: roadmap-count;
}

.roadmap__item {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-right: 52px;
  position: relative;
  counter-increment: roadmap-count;
  font-size: 18px;
}

.roadmap__item::before {
  content: "";
  position: absolute;
  top: 21px;
  left: 0;
  background: #0357FB;
  border-radius: 7px;
  height: 4px;
  width: calc(100% + 54px);
}

.roadmap__item:last-child {
  margin-right: 0;
}

.roadmap__item:last-child::before {
  width: 100%;
}

.roadmap__item._active .roadmap__num::before {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg width='25' height='19' viewBox='0 0 25 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M23.9843 0.990418C24.5439 1.54541 24.5439 2.45011 23.9843 3.00511L7.85714 19L1.01605 12.215C0.456262 11.6598 0.456262 10.7548 1.01605 10.1996V10.1996C1.56888 9.65129 2.46023 9.65075 3.01373 10.1984L7.85714 14.9903L21.9866 0.989947C22.5398 0.441826 23.4314 0.442036 23.9843 0.990418V0.990418Z' fill='white'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 25px;
  height: 19px;
}

.roadmap__num {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  background: #0357FB;
  border-radius: 50%;
  font-weight: bold;
  font-size: 18px;
  color: #fff;
  margin-bottom: 37px;
}

.roadmap__num::before {
  content: counter(roadmap-count, decimal-leading-zero);
}

.roadmap__title {
  text-transform: uppercase;
  font-weight: 700;
  color: #0357FB;
  margin-bottom: 10px;
}

.section-who-we {
  background: url(../images/who-we-are2-bg.webp);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
}

.section-who-we__inner {
  padding: 100px 0 170px;
}

.section-who-we__title {
  margin-bottom: 20px;
}

.section-who-we__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 20px;
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  column-gap: 20px;
}

.card-member {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.card-member:hover .card-member__avatar {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.card-member__top {
  position: relative;
  padding-top: 84.7457%;
  overflow: hidden;
  background: rgba(255, 140, 57, 0.35);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  border-radius: 10px 10px 0px 0px;
}

.card-member__avatar {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.card-member__bottom {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  padding: 13px 10px 17px;
  background: rgba(255, 244, 237, 0.5);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-radius: 0px 0px 10px 10px;
}

.card-member__name {
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  color: #202122;
  margin-bottom: 4px;
}

.card-member__role {
  font-size: 14px;
}

.section-faq {
  background: url(../images/faq-bg.svg), -webkit-gradient(linear, left bottom, left top, color-stop(1.38%, #E4EAFF), color-stop(32.59%, #E4EAFF), color-stop(40.21%, #DFE6FF), color-stop(50.81%, #DBE5FF), color-stop(61.43%, #CFE0FF), color-stop(72.09%, #BBD9FF), color-stop(82.76%, #B8DCFF), color-stop(93.34%, #A2D4FF), to(#8FCEFF));
  background: url(../images/faq-bg.svg), -o-linear-gradient(bottom, #E4EAFF 1.38%, #E4EAFF 32.59%, #DFE6FF 40.21%, #DBE5FF 50.81%, #CFE0FF 61.43%, #BBD9FF 72.09%, #B8DCFF 82.76%, #A2D4FF 93.34%, #8FCEFF 100%);
  background: url(../images/faq-bg.svg), linear-gradient(0deg, #E4EAFF 1.38%, #E4EAFF 32.59%, #DFE6FF 40.21%, #DBE5FF 50.81%, #CFE0FF 61.43%, #BBD9FF 72.09%, #B8DCFF 82.76%, #A2D4FF 93.34%, #8FCEFF 100%);
  background-repeat: no-repeat, no-repeat;
  background-position: top center, center;
  background-size: 100% auto, contain;
}

.section-faq__inner {
  padding: 100px 0 130px;
}

.section-faq__title {
  margin-bottom: 22px;
}

.faq-item {
  background: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  margin-bottom: 20px;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.faq-item:last-child {
  margin-bottom: 0;
}

.faq-item._active {
  padding-bottom: 25px;
}

.faq-item._active .faq-item__header {
  padding-bottom: 12px;
}

.faq-item._active .faq-item__header::after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.faq-item__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 25px 30px;
  cursor: pointer;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.faq-item__header::after {
  content: "";
  width: 9px;
  height: 9px;
  border-right: 2px solid #FB7F03;
  border-bottom: 2px solid #FB7F03;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 66% 66%;
  -ms-transform-origin: 66% 66%;
  transform-origin: 66% 66%;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.faq-item__title {
  font-weight: bold;
  font-size: 18px;
  margin-right: 10px;
}

.faq-item__content {
  font-size: 14px;
  padding-top: 12px;
  padding: 0 30px;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.faq-item__content p + p {
  margin-top: 1.1em;
}

.section-game {
  background: url(../images/game-bg.svg), -webkit-gradient(linear, left bottom, left top, color-stop(1.38%, #E4EAFF), color-stop(32.59%, #E4EAFF), color-stop(40.21%, #DFE6FF), color-stop(50.81%, #DBE5FF), color-stop(61.43%, #CFE0FF), color-stop(72.09%, #BBD9FF), color-stop(82.76%, #B8DCFF), color-stop(93.34%, #A2D4FF), to(#8FCEFF));
  background: url(../images/game-bg.svg), -o-linear-gradient(bottom, #E4EAFF 1.38%, #E4EAFF 32.59%, #DFE6FF 40.21%, #DBE5FF 50.81%, #CFE0FF 61.43%, #BBD9FF 72.09%, #B8DCFF 82.76%, #A2D4FF 93.34%, #8FCEFF 100%);
  background: url(../images/game-bg.svg), linear-gradient(0deg, #E4EAFF 1.38%, #E4EAFF 32.59%, #DFE6FF 40.21%, #DBE5FF 50.81%, #CFE0FF 61.43%, #BBD9FF 72.09%, #B8DCFF 82.76%, #A2D4FF 93.34%, #8FCEFF 100%);
  background-repeat: no-repeat, no-repeat;
  background-position: bottom center, center;
  background-size: cover, cover;
}

.section-game__inner {
  padding: 180px 0 110px;
}

.game-types {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 65px;
}

.game-type {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-right: 70px;
}

.game-type:last-child {
  margin-right: 0;
}

.game-type_blue .game-type__img::before,
.game-type_blue .game-type__img::after {
  background: #0357FB;
}

.game-type__title {
  margin-bottom: 15px;
}

.game-type__info {
  margin-bottom: 28px;
}

.game-type__img {
  max-width: 486px;
  width: 100%;
  padding: 1px 8px 8px 1px;
  position: relative;
  z-index: 1;
  border-radius: 10px;
}

.game-type__img::before,
.game-type__img::after {
  content: "";
  display: block;
  position: absolute;
  top: 7px;
  left: 7px;
  width: calc(100% - 7px);
  height: calc(100% - 7px);
  border-radius: inherit;
  background: -o-linear-gradient(358.88deg, #FF8126 14.58%, #FFA463 95.3%);
  background: linear-gradient(91.12deg, #FF8126 14.58%, #FFA463 95.3%);
  pointer-events: none;
  z-index: -1;
}

.game-type__img::after {
  z-index: 1;
  top: 0;
  left: 0;
  padding: 5px;
  background: -o-linear-gradient(358.88deg, #FF8126 14.58%, #FFA463 95.3%);
  background: linear-gradient(91.12deg, #FF8126 14.58%, #FFA463 95.3%);
  -webkit-mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff)) content-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff));
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff)) content-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff));
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.game-type__img img {
  max-width: 100%;
  border-radius: inherit;
}

.game-features-grid {
  padding: 54px 40px 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -webkit-column-gap: 60px;
  -moz-column-gap: 60px;
  column-gap: 60px;
  background: rgba(174, 192, 255, 0.35);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-radius: 10px;
}

.game-features {
  text-align: center;
}

.game-features__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto 16px;
  width: 61px;
  height: 61px;
  border-radius: 50%;
  background: #F6F8FF;
}

.game-features__icon img {
  display: block;
}

.game-features__title {
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  color: #202122;
  margin-bottom: 6px;
}

.game-features__info {
  font-size: 14px;
}

.section-marketplace {
  background: url(../images/marketplace-bg.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100%;
}

.section-marketplace__inner {
  padding: 152px 0 100px;
}

.section-marketplace__text {
  max-width: 500px;
}

.section-nft {
  background: url(../images/nft-bg.svg), -webkit-gradient(linear, left bottom, left top, color-stop(1.38%, #E4EAFF), color-stop(32.59%, #E4EAFF), color-stop(40.21%, #DFE6FF), color-stop(50.81%, #DBE5FF), color-stop(61.43%, #CFE0FF), color-stop(72.09%, #BBD9FF), color-stop(82.76%, #B8DCFF), color-stop(93.34%, #A2D4FF), to(#8FCEFF));
  background: url(../images/nft-bg.svg), -o-linear-gradient(bottom, #E4EAFF 1.38%, #E4EAFF 32.59%, #DFE6FF 40.21%, #DBE5FF 50.81%, #CFE0FF 61.43%, #BBD9FF 72.09%, #B8DCFF 82.76%, #A2D4FF 93.34%, #8FCEFF 100%);
  background: url(../images/nft-bg.svg), linear-gradient(0deg, #E4EAFF 1.38%, #E4EAFF 32.59%, #DFE6FF 40.21%, #DBE5FF 50.81%, #CFE0FF 61.43%, #BBD9FF 72.09%, #B8DCFF 82.76%, #A2D4FF 93.34%, #8FCEFF 100%);
  background-repeat: no-repeat, no-repeat;
  background-position: bottom center, center;
  background-size: cover, cover;
  min-height: 100%;
}

.section-nft__inner {
  padding: 160px 0 100px;
}

.section-nft__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.section-nft__left {
  max-width: 610px;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-right: 60px;
}

.section-nft__right {
  max-width: 510px;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.section-nft__title {
  margin-bottom: 15px;
}

.nft-features {
  background: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nft-features + .nft-features {
  margin-top: 20px;
}

.nft-features__img {
  max-width: 80px;
  width: 100%;
  border-radius: 10px;
  margin-right: 14px;
}

.nft-features__content {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  max-width: 426px;
}

.nft-features__title {
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  color: #202122;
  margin-bottom: 5px;
}

.nft-features__text {
  font-size: 14px;
}

.nft-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  column-gap: 20px;
  row-gap: 20px;
}

.who-roadmap {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(1.38%, #E4EAFF), color-stop(32.59%, #E4EAFF), color-stop(40.21%, #DFE6FF), color-stop(50.81%, #DBE5FF), color-stop(61.43%, #CFE0FF), color-stop(72.09%, #BBD9FF), color-stop(82.76%, #B8DCFF), color-stop(93.34%, #A2D4FF), to(#8FCEFF));
  background: -o-linear-gradient(bottom, #E4EAFF 1.38%, #E4EAFF 32.59%, #DFE6FF 40.21%, #DBE5FF 50.81%, #CFE0FF 61.43%, #BBD9FF 72.09%, #B8DCFF 82.76%, #A2D4FF 93.34%, #8FCEFF 100%);
  background: linear-gradient(0deg, #E4EAFF 1.38%, #E4EAFF 32.59%, #DFE6FF 40.21%, #DBE5FF 50.81%, #CFE0FF 61.43%, #BBD9FF 72.09%, #B8DCFF 82.76%, #A2D4FF 93.34%, #8FCEFF 100%);
}

@media screen and (max-width: 1439px) {
  .section-roadmap {
    background-size: cover, 1440px auto;
  }

  .section-who {
    background-size: 1440px auto;
  }

  .section-faq {
    background-size: 1440px auto, contain;
  }
}

@media screen and (max-width: 1199px) {
  .h1 {
    font-size: 52px;
  }

  .section-hero__left {
    max-width: 340px;
  }

  .roadmap__item {
    margin-right: 20px;
  }

  .roadmap__item::before {
    width: calc(100% + 22px);
  }
}

@media screen and (max-width: 991px) {
  body._menu-active {
    overflow: hidden;
  }

  .btn-play {
    width: 104px;
    height: 104px;
  }

  .btn-play svg {
    width: 27px;
    margin-left: 4px;
  }

  .MuiButtonBase-root.MuiButton-root {
    width: 160px;
    height: 44px;
    font-size: 12px;
  }

  .header__inner {
    height: 65px;
  }

  .header__btn-menu {
    display: block;
  }

  .header__logo {
    width: 112px;
  }

  .header__connect {
    margin-left: auto;
  }

  .header__connect-btn {
    width: 160px;
    height: 44px;
    font-size: 12px;
  }

  .header_orange .header-menu__nav-link:hover {
    color: #FB7F03;
  }

  .header_orange .header-menu .social-link:hover {
    color: #FB7F03;
  }

  .header-menu {
    background: url(../images/menu-bg.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100%;
    position: fixed;
    z-index: 10;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
    padding: 86px 20px;
    overflow: auto;
    opacity: 0;
  }

  .header-menu__inner {
    margin: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .header-menu._active {
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
    opacity: 1;
  }

  .header-menu__nav {
    margin-right: 0;
  }

  .header-menu__nav-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 52px;
  }

  .header-menu__nav-item {
    margin-right: 0;
  }

  .header-menu__nav-link {
    font-weight: bold;
    font-size: 34px;
    line-height: 150%;
    text-align: center;
  }

  .footer__logo {
    width: 112px;
    height: 60px;
  }

  .footer__copy {
    margin-top: 5px;
  }

  .section-hero__inner {
    padding: 80px 0 88px;
    min-height: auto;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .section-hero__left {
    width: 50%;
    max-width: 100%;
  }

  .section-hero__middle {
    width: 50%;
    margin: 0;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    padding-top: 20px;
  }

  .section-hero__right {
    max-width: 330px;
    margin-top: 15px;
  }

  .section-hero__nft-item {
    margin-bottom: 20px;
  }

  .section-hero__panda {
    height: 330px;
  }

  .section-who {
    background-position: left center;
  }

  .section-who__inner {
    padding: 35px 0 10px;
    min-height: auto;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .section-who__right {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
    padding: 0;
    max-width: 100%;
    margin-bottom: 15px;
  }

  .section-who__left {
    max-width: 100%;
    height: 350px;
    margin: 0;
  }

  .section-who__img {
    height: 350px;
  }

  .section-who__btn-play {
    top: 0;
    right: auto;
    bottom: auto;
    left: calc( 50% + 120px);
  }

  .section-who__text p + p {
    margin-top: 0;
  }

  .section-roadmap__inner {
    padding: 10px 0 240px;
    min-height: auto;
  }

  .section-roadmap__title {
    margin-bottom: 20px;
  }

  .roadmap__num {
    margin-bottom: 20px;
  }

  .roadmap__title {
    font-size: 16px;
  }

  .roadmap__item {
    font-size: 14px;
    margin-right: 10px;
  }

  .section-who-we__inner {
    padding: 50px 0 195px;
  }

  .card-member__name {
    font-size: 14px;
  }

  .card-member__role {
    font-size: 14px;
  }

  .section-faq {
    background: -webkit-gradient(linear, left bottom, left top, color-stop(1.38%, #E4EAFF), color-stop(32.59%, #E4EAFF), color-stop(40.21%, #DFE6FF), color-stop(50.81%, #DBE5FF), color-stop(61.43%, #CFE0FF), color-stop(72.09%, #BBD9FF), color-stop(82.76%, #B8DCFF), color-stop(93.34%, #A2D4FF), to(#8FCEFF));
    background: -o-linear-gradient(bottom, #E4EAFF 1.38%, #E4EAFF 32.59%, #DFE6FF 40.21%, #DBE5FF 50.81%, #CFE0FF 61.43%, #BBD9FF 72.09%, #B8DCFF 82.76%, #A2D4FF 93.34%, #8FCEFF 100%);
    background: linear-gradient(0deg, #E4EAFF 1.38%, #E4EAFF 32.59%, #DFE6FF 40.21%, #DBE5FF 50.81%, #CFE0FF 61.43%, #BBD9FF 72.09%, #B8DCFF 82.76%, #A2D4FF 93.34%, #8FCEFF 100%);
  }

  .section-faq__inner {
    padding: 50px 0 85px;
  }

  .section-game__inner {
    padding: 80px 0 70px;
  }

  .game-features-grid {
    grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 60px;
    -moz-column-gap: 60px;
    column-gap: 60px;
    row-gap: 40px;
  }

  .section-nft__inner {
    padding: 80px 0 50px;
  }

  .section-nft__row {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .section-nft__left {
    max-width: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    margin-right: 0;
    margin-bottom: 40px;
  }

  .section-nft__right {
    max-width: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }

  .section-marketplace__inner {
    padding: 80px 0;
  }
}

@media screen and (max-width: 767px) {
  .h1 {
    font-size: 34px;
  }

  body {
    font-size: 14px;
  }

  .footer__inner {
    padding: 15px 0 26px;
  }

  .footer__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 18px;
  }

  .footer__logo-img {
    left: 50%;
  }

  .footer__bottom {
    display: none;
  }

  .footer__nav {
    width: 100%;
    margin-bottom: 20px;
  }

  .footer__nav-list {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
  }

  .footer__nav-item {
    margin-right: 10px;
  }

  .section-hero {
    background-image: url(../images/hero-bg-mobile.svg);
  }

  .section-hero__title {
    max-width: 265px;
  }

  .section-hero__powered {
    font-size: 14px;
  }

  .section-hero__left {
    width: 100%;
  }

  .section-hero__middle {
    width: 50%;
    margin-top: -130px;
    margin-left: auto;
    padding: 0;
    height: 330px;
  }

  .section-hero__right {
    margin: 0;
    max-width: 100%;
  }

  .section-who {
    background-position: top left 26%;
  }

  .section-who__text {
    font-size: 14px;
  }

  .section-who__btn-play {
    top: 0;
    right: auto;
    bottom: auto;
    left: calc( 50% + 60px);
  }

  .section-who__img {
    left: -60px;
  }

  .section-game {
    background-position: top 50px left, center;
    background-size: 1440px auto, cover;
  }

  .game-types {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 40px;
  }

  .game-type {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }

  .game-type:last-child {
    margin-bottom: 0;
  }

  .game-type__img {
    padding: 1px 5px 5px 1px;
  }

  .game-type__img::after {
    width: calc(100% - 4px);
    height: calc(100% - 4px);
  }

  .game-type__title {
    margin-bottom: 6px;
  }

  .game-features-grid {
    padding: 30px 30px 35px;
    grid-template-columns: repeat(1, 1fr);
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 30px;
    row-gap: 30px;
  }

  .section-nft {
    background-position: top 50px left, center;
    background-size: 1440px auto, cover;
  }

  .section-nft__title {
    margin-bottom: 20px;
  }

  .nft-features {
    padding: 20px;
  }

  .nft-features__img {
    max-width: 56px;
  }

  .section-marketplace__text {
    max-width: 265px;
  }

  .section-who-we__inner {
    padding: 50px 0 106px;
  }

  .section-who-we__grid {
    grid-template-columns: none;
    grid-template-rows: auto auto;
    grid-auto-flow: column;
    overflow-x: scroll;
    padding-bottom: 34px;
  }

  .section-who-we__grid::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  .section-who-we__grid::-webkit-scrollbar-track {
    background: #FFFFFF;
    border-radius: 39px;
  }

  .section-who-we__grid::-webkit-scrollbar-thumb {
    background: linear-gradient(91.12deg, #FF8126 14.58%, #FFA463 95.3%);
    border-radius: 39px;
  }

  .card-member {
    width: calc(100vw / 2 - 30px);
  }

  .card-member__name {
    font-size: 12px;
    margin-bottom: 3px;
  }

  .card-member__bottom {
    padding: 10px 10px 13px;
  }

  .roadmap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .roadmap__item {
    margin-right: 0;
    margin-bottom: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .roadmap__item:last-child {
    margin-bottom: 0;
  }

  .roadmap__item:last-child::before {
    width: 4px;
    height: calc( 100% + 24px);
  }

  .roadmap__item::before {
    top: 0;
    left: 20px;
    width: 4px;
    height: 100%;
    height: calc( 100% + 18px);
  }

  .roadmap__num {
    margin: 0 10px 0 0;
  }

  .section-roadmap {
    background-image: url(../images/roadmap-bg.webp);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 768px auto;
  }

  .faq-item._active {
    padding-bottom: 20px;
  }

  .faq-item._active .faq-item__header {
    padding-bottom: 10px;
  }

  .faq-item__title {
    font-size: 14px;
    margin-right: 52px;
  }

  .faq-item__header {
    padding: 20px;
  }

  .faq-item__content {
    padding: 0 20px;
  }
}